@import "bootstrap";

body {
	margin-top: 60px;
}

body.modalBlur > *:not(.modal) {
	// -webkit-filter: blur(2px);
}

form {
	margin: 5px;

}

.navAvatar {
	margin-top: 1px;
}

.row {
	// width: 1000px;
}

// body.modal-open .supreme-container{
//     -webkit-filter: blur(4px);
//     -moz-filter: blur(4px);
//     -o-filter: blur(4px);
//     -ms-filter: blur(4px);
//     filter: blur(4px);
// }

